* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

canvas {
  border: 1px solid black;
}

h1 {
  margin-top: -775px;
  position: absolute;
  text-align: center;
  font-size: 3rem;
}