body {
  background-color: #f5fff5;
}

h1 {
  text-align: center;
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.control {
  text-align: center;
}

.control > input {
  margin-top: 10px;
  margin-bottom: 0px;
}

.control > label {
  display: block;
  margin-top: 10px;
  font-size: 1.2rem;
}

#graph {
  width: 90%;
  height: 500px;
  background-color: #fff;
  border: 5px solid #16b30b;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}